*.ogg
*.mp3
*.mkv
*.mp4
*.m4a
*.webm
*.flac
*.wav
*tmp_output
*.dll
*.dylib
*.llc
todo

*.proj

.venv
__pycache__

test_data
pyav_datasets

*.spec
build
dist

*.egg-info
.DS_Store

sm_cython/*/*.so
sm_cython/*/*.c

*.json

*.xml
*.fcpxml
*.otio
*.aaf